 .p-datatable .p-datatable-header {
    background: none;
    border: none;
    padding: 0 1rem;
  }
  .p-datatable .p-datatable-thead > tr > th {
    background: none;
    border: none;
  }

  .p-datatable .p-datatable-tbody > tr{
    border-color: red;
  }
  
  .datatable-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .p-column-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3rem;
  }

  .box {
    background-color: var(--surface-f);
    border: 1px solid var(--surface-d);
    border-radius: 6px;
  }

  .text-color {
    color: var(--text-color);
  }